/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #main-container {
    margin-top: 80px;
}

body{
#min-height: 100%;
margin-bottom:0px;
}

.logosession{
margin-bottom:20px;}

a.btn.span4.socialntwk{
margin-bottom:10px;
margin-left: 0px;
}

div.span12{margin-left: 0px;}

em.navbar{
color:pink;}

.btn span4 retour{
#margin:0px;
}




/* Footer
-------------------------------------------------- */
.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
 height:100px;
  
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/* Header
-------------------------------------------------- */
.header {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.header p {
  margin-bottom: 0;
  color: #777;
}
.header-links {
  margin: 10px 0;
}
.header-links li {
  display: inline;
  padding: 0 2px;
}
.header-links li:first-child {
  padding-left: 0;
}